.git
.github
node_modules
vendor
.env
.env.*
!.env.example
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/*.sqlite
npm-debug.log
Dockerfile
docker-compose*.yml
README.md
